.aqua.code-header {
	padding: 0.5em 1em;
	margin: 0;
	border-top-right-radius: var(--aqua-border-radius);
	border-top-left-radius: var(--aqua-border-radius);
	background-color: var(--aqua-code-default-bg);
	color: #fff;
	font-weight: lighter;
	font-family: var(--aqua-monospace);
	font-size: clamp(0.8rem, 2vw, 0.95rem);
}
.aqua.code-header.empty {
	padding: 0;
	background: transparent;
}
.aqua.code-header.empty::after {
	top: 0;
	border-top-right-radius: var(--aqua-border-radius);
}
.aqua.code-header::after,
.aqua.code-header::before {
	font-family: var(--aqua-default);
	font-size: 0.75rem;
}
.aqua.code-header > .overflow-wrapper {
	overflow: hidden;
	width: 100%;
	display: inline-flex;
}
/* Language colored line */
.aqua.code-header::before {
	content: '';
	z-index: 1;
	height: 0.4em;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	transition: var(--aqua-transition-time);
	transition-timing-function: var(--aqua-transition-func);
}
.aqua.code-header.empty::before {
	height: 0.6em;
	top: 0;
	border-top-left-radius: var(--aqua-border-radius);
	border-top-right-radius: var(--aqua-border-radius);
}

.aqua.code-box:hover > .aqua.code-header::before {
	right: var(--aqua-bounce-distance);
	transition: var(--aqua-transition-time);
}
.aqua.code-box:hover > .aqua.code-header.empty[data-language='']::before {
	right: 0;
}
