.aqua.code-block {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 2em 1em 1em 1.6em;
	border-bottom-left-radius: var(--aqua-border-radius);
	border-bottom-right-radius: var(--aqua-border-radius);
	background: var(--aqua-bg-dark);
	color: var(--aqua-cl-light);
	line-height: 1.5;
	font-size: 0.8rem;
	font-family: 'Fira Code', 'Inconsolata', 'Consolas', 'Ubuntu Mono', monospace;
}

.aqua.code-block.numbered {
	padding-left: 0.6em;
}
.aqua.code-block.numbered code::before {
	content: attr(data-line);
	max-width: 2em;
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	margin-right: 0.8em;
	color: gray;
	letter-spacing: normal;
}

/* Header check */
.aqua.code-header.empty + .aqua.code-block {
	padding-top: 2em;
}
.aqua.code-header[data-language='']:not(.empty) + .aqua.code-block {
	padding-top: 1em;
}
.aqua.code-header.empty + .aqua.code-block {
	border-top-right-radius: var(--aqua-border-radius);
	border-top-left-radius: var(--aqua-border-radius);
}
