<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aqua &bull; Template</title>

  <link rel="stylesheet" href="https://cdn.imbagus.com/css/fa.v5.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
  <link rel="stylesheet" href="/core.css">
  <link rel="stylesheet" href="/code.css">
  <link rel="stylesheet" href="/form.css">
  <link rel="stylesheet" href="/modal.css">
  <link rel="stylesheet" href="/src/style.css">

  <script defer src="https://cdn.imbagus.com/complete/footer.js"></script>
  <script defer src="/code.js"></script>
  <script defer src="/form.js"></script>
  <script defer src="/modal.js"></script>
  <script defer src="/init.js"></script>
  <script defer src="/src/index.js"></script>
</head>

<body>
  <header>
    <h1>Aqua</h1>
    <h3>Version 0.19.10</h3>
  </header>

  <article>
    <aside>
      <nav>
        <div class="tab-item">
          <div class="icon">
            <i class="fas fa-bars"></i>
            <i class="fas fa-bars icon-active"></i>
          </div>
          <span>Component</span>
        </div>
        <div class="tab-item active">
          <div class="icon">
            <i class="far fa-folder"></i>
            <i class="far fa-folder-open icon-active"></i>
          </div>
          <span>Template</span>
        </div>
      </nav>
    </aside>

    <main id="template">
      <section id="formLogin">
        <main>
          <div class="card">
            <h1>Form &rarr; Login</h1>

            <a href="/template/login"><button>See Template</button></a>
          </div>
        </main>
      </section>

    </main>

    <footer class="gh-cdn">
      <div class="link">
        <a href="https://github.com/ignatiusmb/aqua">@ignatiusmb/aqua</a>
      </div>
    </footer>
  </article>
</body>
