.aqua-form-slide {
	overflow: hidden;
	min-width: 48em;
	min-height: 32em;
	background-color: white;
	color: black;
}
.aqua-form-slide h1 {
	font-size: 2.5rem;
}

.aqua-form-slide p {
	margin: 1em 0 1.5em;
	letter-spacing: 0.025em;
	font-weight: 100;
}

.aqua-form-slide a {
	color: #333;
	font-size: 0.9rem;
	text-decoration: none;
	margin: 1em 0;
}

.aqua-form-slide > .slide-container {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}

.aqua-form-slide > .slide-container.sign-in {
	z-index: 2;
	width: 50%;
}

.aqua-form-slide.toggled > .slide-container.sign-in {
	transform: translateX(100%);
}

.aqua-form-slide > .slide-container.sign-up {
	z-index: 1;
	width: 50%;
	opacity: 0;
}

.aqua-form-slide.toggled > .slide-container.sign-up {
	z-index: 5;
	opacity: 1;
	transform: translateX(100%);
	animation: aqua-show 0.6s;
}

.aqua-form-slide > .slide-container > form {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
	background-color: white;
	text-align: center;
}

@keyframes aqua-show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.aqua-form-slide > .form-overlay {
	z-index: 100;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	transition: transform 0.6s ease-in-out;
}

.aqua-form-slide.toggled > .form-overlay {
	transform: translateX(-100%);
}

.aqua-form-slide .overlay {
	width: 200%;
	height: 100%;
	position: relative;
	left: -100%;
	background: #0070bb;
	background: -webkit-linear-gradient(to right, #66d6ff, #0070bb);
	background: linear-gradient(to right, #66d6ff, #0070bb);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.aqua-form-slide.toggled .overlay {
	transform: translateX(50%);
}

.aqua-form-slide .overlay > .overlay-panel {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2.5em;
	text-align: center;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.aqua-form-slide .overlay > .overlay-panel.left {
	transform: translateX(-20%);
}

.aqua-form-slide.toggled .overlay > .overlay-panel.left {
	transform: translateX(0);
}

.aqua-form-slide .overlay > .overlay-panel.right {
	right: 0;
	transform: translateX(0);
}

.aqua-form-slide.toggled .overlay > .overlay-panel.right {
	transform: translateX(20%);
}

@media only screen and (max-width: 800px) {
}
