var {
  display: inline-block;
  padding: 0 10px;
  border-radius: 1000px;
  margin: 0 2px;
  line-height: 1.3;
  font-style: normal;
  background: #868c96;
  color: #fff;
}

var a {
  color: white;
}

.bss-info-box {
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  border-radius: 5px;
  border-left: 5px solid #757575;
}

li>.bss-info-box {
  margin: 0.7rem 1rem 1rem 0;
}

.bss-info-box h4 {
  margin-bottom: 0.3rem;
}

.bss-info-box p,
.bss-info-box li {
  margin-bottom: 0;
}

.bss-info-box#objective {
  border-left-color: rgba(40, 10, 100, 0.4);
  background: rgba(40, 10, 100, 0.1);
  color: rgba(40, 10, 100, 0.7);
}

.bss-info-box#objective var,
.bss-info-box#objective code {
  background: rgba(40, 10, 100, 1);
  color: white;
}

.bss-info-box.warning {
  border-left-color: rgba(240, 100, 100, 0.4);
  background: rgba(240, 100, 100, 0.1);
  color: rgba(240, 100, 100, 1);
}

.bss-info-box.warning var,
.bss-info-box.warning code {
  background: rgba(240, 100, 100, 1);
  color: white;
}

.bss-info-box.tip {
  border-left-color: rgba(150, 200, 60, 0.4);
  background: rgba(150, 200, 60, 0.1);
  color: rgba(150, 200, 60, 1);
}

.bss-info-box.tip var,
.bss-info-box.tip code {
  background: rgba(150, 200, 60, 1);
  color: white;
}

.bss-info-box.important {
  border-left-color: rgb(226, 177, 0, 1);
  background: rgba(254, 239, 179, 0.5);
  color: rgb(226, 177, 0, 1);
}

.bss-info-box.important var,
.bss-info-box.important code {
  background: rgb(226, 177, 0, 1);
  color: white;
}

.bss-info-box.note {
  border-left-color: rgba(25, 160, 215, 0.4);
  background: rgba(25, 160, 215, 0.1);
  color: rgba(25, 160, 215, 1);
}

.bss-info-box.note var,
.bss-info-box.note code {
  background: rgba(25, 160, 215, 1);
  color: white;
}