@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

:root {
  --bounce-distance: 10em;
  --border-curvature: 5px;
  --code-font-size: 0.875em;
  --transition-time: 87.5ms;
  --transition-func: cubic-bezier(0.6, -0.28, 0.735, 0.045);

  --bg-primary-dark: #2d2d2d;
  --bg-faded-dark: #444444;
  --cl-faded-white: #cccccc;
}

code {
  padding: 0;
  color: var(--cl-faded-white);
  font-family: 'Fira Code', monospace;
  font-size: var(--code-font-size);
  font-weight: 300;
}

code.bsh-dark {
  background: var(--bg-primary-dark);
}

code.bsh-light {
  color: var(--bg-primary-dark);
}

/* Inline code */
*:not(pre)>code {
  padding: 0.1em 0.25em;
  border-radius: var(--border-curvature);
  color: initial;
}

.code-box,
.cb-header,
.cb-format {
  position: relative;
}

.code-box {
  width: 100%;
  margin: 2em auto;
}

/*=================*
 * Code Box Header *
 *=================*/
.cb-header {
  backface-visibility: hidden;
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em 0.8em;
  margin: 0;
  border-top-right-radius: var(--border-curvature);
  border-top-left-radius: var(--border-curvature);
  background: #757575;
  color: #f1f1f1;
  letter-spacing: 0.05em;
  font-size: var(--code-font-size);
  font-family: 'Montserrat', sans-serif;
}

.cb-header.none {
  background: transparent;
}

.cb-header.none::after {
  top: 0;
  border-top-right-radius: 2px;
}

.cb-header.none~.cb-format {
  padding-top: 2em;
}

.cb-header::before,
.cb-header::after {
  font-size: var(--code-font-size);
}

/* Language Colored Line */
.cb-header::before {
  content: '';
  z-index: 1;
  height: 0.4em;
  position: absolute;
  top: 1.8em;
  left: 0;
  right: 0;

  transition: var(--transition-time);
  transition-timing-function: var(--transition-func);
}

.cb-header.none::before {
  top: -0.06em;
  border-top-left-radius: var(--border-curvature);
  border-top-right-radius: var(--border-curvature);
}

.code-box:hover>.cb-header::before {
  right: var(--bounce-distance);
  transition: var(--transition-time);
}

/* Language Title */
.cb-header::after {
  z-index: 1;
  position: absolute;
  top: 1.95em;
  right: 0;
  padding: 0.5em 1em;
  font-weight: 600;
  text-indent: 0.2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border-bottom-left-radius: 2px;

  transition: var(--transition-time);
  transition-timing-function: var(--transition-func);
}

.cb-header[data-language]::after {
  content: attr(data-language);
}

.code-box:hover>.cb-header::after {
  right: var(--bounce-distance);
  border-bottom-right-radius: var(--border-curvature);
  border-bottom-left-radius: var(--border-curvature);

  transition: var(--transition-time);
}

/*============*
 * Code Block *
 *============*/
.cb-format {
  padding: 4em 1.5em 1em;
  border-radius: var(--border-curvature);
  background: var(--bg-primary-dark);
  overflow-x: auto;
  overflow-y: hidden;
}

.numbered .cb-format {
  padding-left: 0.6em;
}

.numbered .cb-format code::before {
  content: attr(data-line);
  max-width: 2em;
  width: 100%;
  display: inline-block;
  padding-right: 0.4em;
  border-right: 1px solid #999;
  margin-right: 0.8em;
  color: gray;
  letter-spacing: normal;
  text-align: right;
}

/*=================*
 * Language Styles *
 *=================*/
.cb-header[data-language='bash']::before,
.cb-header[data-language='bash']::after {
  background: #363377;
  color: #a2a0d6;
}

.cb-header[data-language='html']::before,
.cb-header[data-language='html']::after {
  background: #f26428;
  color: #feefe8;
}

.cb-header[data-language='python']::before,
.cb-header[data-language='python']::after {
  background: #ddd;
  color: #2d2d2d;
}

.cb-header[data-language='shell']::before,
.cb-header[data-language='shell']::after {
  background: #f3e2bb;
  color: #c09022;
}

.cb-header[data-language='terminal']::before,
.cb-header[data-language='terminal']::after {
  background: #ddd;
  color: #444;
}

/*==============*
 * Code Toolbar *
 *==============*/
.cb-toolbar {
  z-index: 2;
  position: absolute;
  top: 1.7em;
  right: 0.1em;
  display: flex;

  opacity: 0;
  transition: var(--transition-time);
}

.cb-header.none~.cb-toolbar {
  top: 0.2em;
}

.code-box:hover>.cb-toolbar {
  opacity: 1;
}

.cb-toolbar>.tb-item {
  cursor: pointer;
  width: 1.75em;
  height: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 0.2em;
  background: white;
  color: #0070BB;
  text-align: center;
  font-size: small;
}

.tb-item>.tb-tooltip {
  position: absolute;
  bottom: 2.5em;
  display: none;
  padding: 0.5em 1em;
  border-radius: 0.6em;
  background-color: #555;
  color: white;
  transition: var(--transition-time);
}

.tb-item>.tb-tooltip::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tb-item:hover>.tb-tooltip,
.tb-item:focus>.tb-tooltip {
  display: block;
}

.ghost-area {
  width: 2em;
  height: 2em;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

/* PrismJS 1.15.0
 *
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 * Modified by Ignatius Bagus
 */
.token {
  font-weight: 300;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}