@import url('https://cdn.imbagus.com/css/prism.css');

:root {
  --bss-bounce-distance: 10em;
  --bss-code-size: 0.9em;
  --bss-transition-time: 87.5ms;
  --bss-transition-func: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

code {
  font-size: var(--bss-code-size);
  font-weight: 300;
}

/* Inline code */
:not(pre) > code {
  padding: 0.1em 0.3em;
  border-radius: var(--bss-border-curve);
  background: var(--bss-bg-dark);
  color: var(--bss-cl-light);
}

.bss-code-box,
.bss-code-header,
.bss-code-format {
  width: 100%;
  position: relative;
}

/* Code Box Header */
.bss-code-header {
  z-index: 1;
  width: 100%;
  position: absolute;
  padding: 0.5em 1em;
  margin: 0;
  border-top-right-radius: var(--bss-border-curve);
  border-top-left-radius: var(--bss-border-curve);
  background: #757575;
  color: #fff;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  font-family: var(--bss-font-default-alt-1);
}
.bss-code-header.none {
  background: transparent;
}
.bss-code-header.none::after {
  top: 0;
  border-top-right-radius: 2px;
}
.bss-code-header.none ~ .bss-code-format {
  padding-top: 2em;
}
.bss-code-header::before,
.bss-code-header::after {
  font-size: var(--code-font-size);
}

/* Language Colored Line */
.bss-code-header::before {
  content: '';
  z-index: 1;
  height: 0.4em;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  transition: var(--bss-transition-time);
  transition-timing-function: var(--bss-transition-func);
}

.bss-code-header.none::before {
  top: -0.06em;
  border-top-left-radius: var(--bss-border-curve);
  border-top-right-radius: var(--bss-border-curve);
}

.bss-code-box:hover > .bss-code-header::before {
  right: var(--bss-bounce-distance);
  transition: var(--bss-transition-time);
}

/* Language Title */
.bss-code-header::after {
  z-index: 1;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0.5em 1em;
  font-weight: 600;
  text-indent: 0.2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border-bottom-left-radius: 2px;

  transition: var(--bss-transition-time);
  transition-timing-function: var(--bss-transition-func);
}

.bss-code-header[data-language]::after {
  content: attr(data-language);
}

.bss-code-box:hover > .bss-code-header::after {
  right: var(--bss-bounce-distance);
  border-bottom-right-radius: var(--bss-border-curve);
  border-bottom-left-radius: var(--bss-border-curve);

  transition: var(--bss-transition-time);
}

/* Code Block */
.bss-code-format {
  padding: 4em 1.5em 1em;
  border-radius: var(--bss-border-curve);
  background: var(--bss-bg-dark);
  overflow-x: auto;
  overflow-y: hidden;
}

.bss-code-format.numbered {
  padding-left: 0.6em;
}

.bss-code-format.numbered code::before {
  content: attr(data-line);
  max-width: 2em;
  width: 100%;
  display: inline-block;
  padding-right: 0.4em;
  margin-right: 0.8em;
  color: gray;
  letter-spacing: normal;
  text-align: right;
}

/* Language Styles */
.bss-code-header[data-language='bash']::before,
.bss-code-header[data-language='bash']::after {
  background: #363377;
  color: #a2a0d6;
}
.bss-code-header[data-language='html']::before,
.bss-code-header[data-language='html']::after {
  background: #f26428;
  color: #feefe8;
}
.bss-code-header[data-language='javascript']::before,
.bss-code-header[data-language='javascript']::after,
.bss-code-header[data-language='js']::before,
.bss-code-header[data-language='js']::after {
  background: #f0db4f;
  color: #323330;
}
.bss-code-header[data-language='python']::before,
.bss-code-header[data-language='python']::after {
  background: #ddd;
  color: #2d2d2d;
}
.bss-code-header[data-language='shell']::before,
.bss-code-header[data-language='shell']::after {
  background: #f3e2bb;
  color: #c09022;
}
.bss-code-header[data-language='terminal']::before,
.bss-code-header[data-language='terminal']::after {
  background: #ddd;
  color: #444;
}

/* Code Toolbar */
.bss-code-toolbar {
  z-index: 2;
  position: absolute;
  top: 110%;
  right: 0.2em;
  display: flex;

  opacity: 0;
  transition: var(--bss-transition-time);
}
.bss-code-header.none .bss-code-toolbar {
  top: 25%;
}
.bss-code-box:hover .bss-code-toolbar {
  opacity: 1;
}

.bss-code-toolbar > .bss-ctb-item {
  cursor: pointer;
  width: 1.75em;
  height: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 0.2em;
  background: white;
  color: #0070bb;
  text-align: center;
  font-size: small;
}

.bss-ctb-item > .bss-ctb-tooltip {
  position: absolute;
  bottom: 2.5em;
  display: none;
  padding: 0.5em 1em;
  border-radius: 0.6em;
  background-color: #555;
  color: white;
  transition: var(--bss-transition-time);
}

.bss-ctb-item > .bss-ctb-tooltip::after {
  content: '';
  position: absolute;
  top: 95%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.bss-ctb-item:hover > .bss-ctb-tooltip,
.bss-ctb-item:focus > .bss-ctb-tooltip {
  display: block;
}

.ghost-area {
  width: 2em;
  height: 2em;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}
