@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

:root {
  --bg-primary-dark: #2d2d2d;
  --bg-faded-dark: #444444;
  --cl-faded-white: #cccccc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Muli', sans-serif;
}

a,
a:visited {
  text-decoration: none;
}

button {
  padding: 0.2em 1em;
}

button.ghost {
  background-color: transparent;
  border-color: white;
}

input {
  width: 100%;
  padding: 0.8em 0.9em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.3em;
  background-color: #eee;
}

section.bsh-dark {
  background: var(--bg-faded-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}