@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

:root {
  --primary-blue: #0070BB;
  --bg-primary-dark: #2d2d2d;
  --bg-faded-dark: #444444;
  --bg-faded-light: #eeeeee;
  --cl-primary-dark: #242424;
  --cl-faded-white: #cccccc;

  --bsh-mono: 'Inconsolata', monospace;
  --bsh-sans: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-weight: 400;
}

html {
  font-family: 'Muli', sans-serif;
}

a,
a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0.2em 1em;
  outline: none;
}

button.ghost {
  background-color: transparent !important;
  border-color: white;
}

button.ghost.white {
  border-color: white;
}

input {
  width: 100%;
  padding: 0.8em 0.9em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.3em;
  background-color: var(--bg-faded-light);
}

header[class*='bsh'] {
  min-height: 100vh;
}

*[class^='bsh'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*[class*='-row'] {
  flex-direction: row;
}

.bsh-dark {
  background: var(--bg-faded-dark);
  color: var(--cl-primary-dark);
}

.bsh-light {
  background: var(--bg-faded-light);
  color: var(--cl-faded-white);
}