.form-wrapper {
  backface-visibility: hidden;
  overflow: hidden;
  max-width: 36em;
  width: 100%;
  min-height: 12em;
  position: relative;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 1.75em rgba(0, 0, 0, 0.25), 0 0.6em 0.6em rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  background-color: white;
}

.aqua-form {
  width: 100%;
  padding: 1em 3em;
}

form.aqua-form h1 {
  font-weight: 600;
}

form.aqua-form button,
.form-wrapper button {
  padding: 0.7em 3em;
  border: 1px solid #0070bb;
  border-radius: 1.5em;
  margin-top: 1em;
  background-color: #0070bb;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  transition: 80ms ease;
}

form.aqua-form button:active {
  transform: scale(0.95);
}

form.aqua-form label {
  position: relative;
}

.form-wrapper form.aqua-form label {
  width: 100%;
}

form.aqua-form label input {
  padding: 1.25em 1em 0.75em;
}

form.aqua-form label span {
  pointer-events: none;
  position: absolute;
  left: 1em;
  top: -10%;
  transition: 200ms;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}

form.aqua-form label input:focus + span,
form.aqua-form label input:not(:placeholder-shown) + span {
  position: absolute;
  top: -80%;
  left: 0.5em;
  font-size: 0.77em;
  opacity: 0.8;
}
