body {
  background-color: var(--aqua-bg-light);
}

article {
  display: flex;
  flex-direction: column;
}
article > aside {
  z-index: 2;
  position: sticky;
  bottom: 0;
  order: 3;
  background-color: white;
}
nav {
  overflow: hidden;
  max-width: 64em;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 1em;
  margin: 0 auto;
}
nav .tab-item {
  z-index: 2;
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  border-radius: 0.7em;
  color: var(--aqua-primary);
  transition: 0.3s;
}
nav .tab-item .icon {
  font-size: 1.5rem;
  transition: 300ms;
  transform: translateY(25%);
}
nav .tab-item .icon .icon-active {
  display: none;
}
nav .tab-item span {
  opacity: 0;
  font-size: 0.8rem;
  transition: 300ms;
}
nav .tab-item.active {
  background-color: #e4f2ff;
  transform: scale(1.1);
}
nav .tab-item.active .icon {
  transform: translateY(0);
}
nav .tab-item.active .icon i {
  display: none;
}
nav .tab-item.active .icon i.icon-active {
  display: unset;
}
nav .tab-item.active span {
  opacity: 1;
}
nav .tab-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e4f2ff;
  transition: 300ms;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0082c8;
  background: -webkit-linear-gradient(to right, #000046, #1cb5e0);
  background: linear-gradient(to right, #000046, #1cb5e0);
  color: white;
}
header h1 {
  font-size: 4rem;
}
h1 {
  margin-bottom: 0.2em;
  text-align: center;
  font-size: 2.2rem;
  font-family: var(--aqua-font-heading-main);
}
h3 {
  font-size: 1.5rem;
  font-family: var(--aqua-font-mono-main);
}
a {
  color: var(--aqua-primary);
}

section {
  padding: 4em 0;
}
section:not(:last-of-type) {
  border-bottom: 1em ridge;
  border-bottom-color: var(--aqua-primary);
}
section h1 {
  font-family: var(--aqua-font-mono-alt);
}
section.aqua-dark h1 {
  color: white;
}
section.aqua-light h1 {
  color: var(--aqua-cl-dark);
}

section main {
  max-width: 64em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  margin: auto;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em 1em;
  border-radius: 0.5em;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}
.card:not(:first-of-type) {
  margin-top: 2em;
}
.demo {
  max-width: 40em;
  width: 100%;
}

.aqua-code-box:first-of-type {
  margin-top: 2em;
}
.aqua-code-box:not(:first-of-type) {
  margin-top: 1em;
}

.aqua-modal .aqua-modal-preview {
  height: 100%;
  text-align: center;
}
.aqua-modal .aqua-modal-preview div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aqua-modal .aqua-modal-preview h3 {
  margin-bottom: 1em;
}

footer .link {
  font-size: 2rem;
}

@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 769px) {
  article > aside {
    top: 0;
    bottom: unset;
    order: unset;
  }
  nav {
    justify-content: center;
  }
  nav .tab-item {
    margin: 0 1em;
  }
}
