<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>BlueSheets</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <link rel="stylesheet" href="../../core.css" />
  <link rel="stylesheet" href="../../code.css" />
  <link rel="stylesheet" href="../../form.css">
  <link rel="stylesheet" href="../../animation/form.css">
  <link rel="stylesheet" href="slide.css" />
  <style>
    body {
      background-color: var(--bg-primary-dark);
    }

    section.bsh-light h1 {
      color: var(--cl-primary-dark);
    }

    main {
      max-width: 1024px;
      width: 100%;
    }

    main>h1 {
      margin: 1em 0 0;
      font-family: var(--bsh-sans);
      font-size: 3em;
    }

    main>h1>code {
      font-size: 50%;
    }
  </style>
</head>

<body>
  <header class="bsh-dark">
    <div class="form-wrapper" id="form-wrapper">
      <div class="form-container sign-up">
        <form class="bsh-form" action="#">
          <h1>Create Account</h1>
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email" />
          <input type="date" placeholder="Date of Birth" />
          <input type="tel" placeholder="Phone Number" />
          <input type="password" placeholder="Password" />
          <input type="password" placeholder="Re-type Password" />
          <button>Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form class="bsh-form" action="#">
          <h1>Sign In</h1>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
      </div>
      <div class="form-overlay">
        <div class="overlay">
          <div class="overlay-panel left">
            <h1>Welcome Back!</h1>
            <p>Login with your account to keep connected with us</p>
            <button class="ghost white" id="sign-in">Sign In</button>
          </div>
          <div class="overlay-panel right">
            <h1>Join Us!</h1>
            <p>Enter your personal details and start a journey with us</p>
            <button class="ghost white" id="sign-up">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="slide" class="bsh-light">
    <main>
      <h1 class="bsh">
        Slide Login BlueSheet
        <code>Requires
          <a href="../../#form">Form BlueSheet</a>
          and
          <a href="../../animation/#form">BlueSheet Animation</a>
        </code>
      </h1>
      <div class="code-box">
        <div class="cb-header" data-language="html"></div>
        <pre class="cb-format">
&lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ignatiusmb/bluesheets/login/slide.min.css" />

&lt;!-- place before the closing body tag -->
&lt;script src="https://cdn.jsdelivr.net/gh/ignatiusmb/bluesheets/login/slide.min.js">&lt;/script></pre>
      </div>
      <div class="code-box">
        <div class="cb-header" data-language="html">Template</div>
        <pre class="cb-format">
&lt;div class="form-wrapper" id="form-wrapper">
  &lt;div class="form-container sign-up">
    &lt;form class="bsh-form" action="#">
      &lt;h1>Create Account&lt;/h1>
      &lt;input type="text" placeholder="Full Name" />
      &lt;input type="email" placeholder="Email" />
      &lt;input type="date" placeholder="Date of Birth" />
      &lt;input type="tel" placeholder="Phone Number" />
      &lt;input type="password" placeholder="Password" />
      &lt;input type="password" placeholder="Re-type Password" />
      &lt;button>Sign Up&lt;/button>
    &lt;/form>
  &lt;/div>
  &lt;div class="form-container sign-in">
    &lt;form class="bsh-form" action="#">
      &lt;h1>Sign In&lt;/h1>
      &lt;input type="email" placeholder="Email" />
      &lt;input type="password" placeholder="Password" />
      &lt;a href="#">Forgot your password?&lt;/a>
      &lt;button>Sign In&lt;/button>
    &lt;/form>
  &lt;/div>
  &lt;div class="form-overlay">
    &lt;div class="overlay">
      &lt;div class="overlay-panel left">
        &lt;h1>Welcome Back!&lt;/h1>
        &lt;p>Login with your account to keep connected with us&lt;/p>
        &lt;button class="ghost white" id="sign-in">Sign In&lt;/button>
      &lt;/div>
      &lt;div class="overlay-panel right">
        &lt;h1>Join Us!&lt;/h1>
        &lt;p>Enter your personal details and start a journey with us&lt;/p>
        &lt;button class="ghost white" id="sign-up">Sign Up&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div></pre>
      </div>
    </main>
  </section>

  <script src="../../code.js"></script>
  <script src="../../form.js"></script>
  <script src="slide.js"></script>
</body>

</html>