.aqua-form-wave form.aqua-form {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	backface-visibility: hidden;
	transition: transform 300ms, box-shadow 300ms;
}

.aqua-form-wave form.aqua-form::before,
.aqua-form-wave form.aqua-form::after {
	content: '';
	z-index: -1;
	width: 37em;
	height: 37em;
	position: absolute;
	border-radius: 40% 45% 40% 35%;
}

.aqua-form-wave form.aqua-form::before {
	right: -80%;
	bottom: -85%;
	background-color: rgba(69, 105, 144, 0.15);
	animation: aqua-wave 6s infinite linear;
}

.aqua-form-wave form.aqua-form::after {
	right: -60%;
	bottom: -65%;
	background-color: rgba(2, 128, 144, 0.2);
	animation: aqua-wave 7s infinite;
}

@keyframes aqua-wave {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}
