:root {
	--aqua-overlay-transition: 340ms;
}

.aqua-modal {
	object-fit: contain;
	overflow: hidden;
	width: 15em;
	height: 15em;
	position: relative;
	border-radius: 1em;
	margin: 1em;
	background: rgba(0, 0, 0, 0.3);
}

.aqua-modal > .aqua-modal-preview {
	color: white;
}

/* overlay */
.aqua-modal > .aqua-modal-preview > .overlay {
	cursor: pointer;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7) repeat;
	transition: var(--aqua-overlay-transition);
}

.aqua-modal:hover .aqua-modal-preview > .overlay {
	opacity: 1;
	transition: var(--aqua-overlay-transition);
}

.aqua-modal-preview > .overlay > i.fa-plus {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.5em;
	margin-left: -0.5em;
	font-size: 1rem;
}

/* popup */
.aqua-modal > .aqua-modal-popup.pop {
	display: flex;
}

.aqua-modal > .aqua-modal-popup {
	z-index: 9;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	margin: auto;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.6);
}

.aqua-modal-popup > .content {
	max-width: 90%;
	position: relative;
	padding: 2em 1em;
	outline: 0;
	margin: auto;
	box-shadow: 3px 4px rgba(0, 0, 0, 0.3);
	background-color: var(--aqua-bg-dark);
}

.aqua-modal-popup .close {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0.1em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0070bb;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
}

.aqua-modal-zoom {
	animation: aqua-modal-zoom 240ms;
	-webkit-animation: aqua-modal-zoom 240ms;
}

@keyframes aqua-modal-zoom {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}
