input,
textarea {
	--input-border: #8b8a8b;
	--input-focus-h: 245;
	--input-focus-s: 100%;
	--input-focus-l: 42%;

	padding: 0.25em 0.5em;
	border: 0.1em solid var(--input-border);
	border-radius: 0.25em;
	transition: var(--t-duration, 300ms) box-shadow ease-in-out;
	background-color: #fff;
}
textarea {
	resize: vertical;
}

input:focus,
textarea:focus {
	outline: 0.25em solid transparent;
	border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
	box-shadow: 0 0 0 0.25em
		hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
}
input:read-only,
textarea:read-only {
	cursor: not-allowed;
	border-style: dotted;
	color: #777;
}
input:disabled,
textarea:disabled {
	--input-border: #ccc;
	background-color: #eee;
	cursor: not-allowed;
}

input[type='file'] {
	font-size: 0.9em;
	padding-top: 0.35rem;
}
input:not(textarea) {
	height: 2.25rem;
	line-height: 1;
}
