.aqua-form-card {
	backface-visibility: hidden;
	overflow: hidden;
	max-width: 36em;
	width: 100%;
	min-height: 12em;
	position: relative;
	border-radius: 0.6em;
	box-shadow: 0 0.9em 1.75em rgba(0, 0, 0, 0.25), 0 0.6em 0.6em rgba(0, 0, 0, 0.22);
	margin: 0 auto;
	background-color: white;
}
.aqua-form-card label {
	width: 100%;
}

.aqua-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1em 3em;
	font-size: 1rem;
}
.aqua-form label {
	position: relative;
	display: inline-flex;
	margin: 0.5em 0;
}
.aqua-form label input {
	padding: 1.25em 1em 0.75em;
}
.aqua-form label span {
	pointer-events: none;
	position: absolute;
	left: 1em;
	top: 50%;
	opacity: 0.5;
	transition: 200ms;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	transform: translate(0%, -50%);
}
.aqua-form label input:focus + span,
.aqua-form label input:not(:placeholder-shown) + span {
	position: absolute;
	top: 0.25em;
	left: 0.5em;
	font-size: 0.77rem;
	opacity: 0.8;
	transform: translate(0%, 0%);
}
.aqua-form-card button,
.aqua-form button {
	width: 100%;
	padding: 0.7em 3em;
	border: 1px solid;
	border-color: var(--aqua-primary);
	border-radius: 0.5em;
	margin-top: 1em;
	background-color: var(--aqua-primary);
	color: white;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
	transition: 80ms ease;
}
.aqua-form button:active {
	transform: scale(0.95);
}
