<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aqua &bull; Template &rarr; Form Login</title>

  <link rel="stylesheet" href="https://cdn.imbagus.com/css/fa.v5.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
  <link rel="stylesheet" href="/core.css">
  <link rel="stylesheet" href="/code.css">
  <link rel="stylesheet" href="/form.css">
  <link rel="stylesheet" href="/animation/form/wave.css">
  <link rel="stylesheet" href="slide.css">
  <link rel="stylesheet" href="/src/style.css">

  <script defer src="/code.js"></script>
  <script defer src="/form.js"></script>
  <script defer src="/init.js"></script>
  <script defer src="slide.js"></script>
</head>

<body>
  <header>
    <div class="aqua-form-card aqua-form-wave aqua-form-slide">
      <div class="slide-container sign-up">
        <form class="aqua-form" action="#">
          <h1>Create Account</h1>
          <input type="text" placeholder="Full Name">
          <input type="email" placeholder="Email">
          <input type="date" placeholder="Date of Birth">
          <input type="tel" placeholder="Phone Number">
          <input type="password" placeholder="Password">
          <input type="password" placeholder="Re-type Password">
          <button>Sign Up</button>
        </form>
      </div>
      <div class="slide-container sign-in">
        <form class="aqua-form" action="#">
          <h1>Sign In</h1>
          <input type="email" placeholder="Email">
          <input type="password" placeholder="Password">
          <a href="#">Forgot your password?</a>
          <button>Sign In</button>
        </form>
      </div>
      <div class="form-overlay">
        <div class="overlay">
          <div class="overlay-panel left">
            <h1>Welcome Back!</h1>
            <p>Login with your account to keep connected with us</p>
            <button class="ghost white" id="sign-in">Sign In</button>
          </div>
          <div class="overlay-panel right">
            <h1>Join Us!</h1>
            <p>Enter your personal details and start a journey with us</p>
            <button class="ghost white" id="sign-up">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="slide">
    <main>
      <div class="card">
        <h1>Aqua Slide Login</h1>
        <code>Requires
          <a href="/#form">Aqua Form</a>
          and
          <a href="/animation/#form">Aqua Form Animation</a>
        </code>

        <pre class="aqua-code" data-language="html" data-title="<head>">
&lt;link rel="stylesheet" href="https://aqua.imbagus.com/template/login/slide.css">
&lt;script defer src="https://aqua.imbagus.com/template/login/slide.js">&lt;/script>
        </pre>
        <pre class="aqua-code" data-language="html" data-title="Template">
&lt;div class="aqua-form-card aqua-form-wave aqua-form-slide">
  &lt;div class="slide-container sign-up">
    &lt;form class="aqua-form" action="#">
      &lt;h1>Create Account&lt;/h1>
      &lt;input type="text" placeholder="Full Name">
      &lt;input type="email" placeholder="Email">
      &lt;input type="date" placeholder="Date of Birth">
      &lt;input type="tel" placeholder="Phone Number">
      &lt;input type="password" placeholder="Password">
      &lt;input type="password" placeholder="Re-type Password">
      &lt;button>Sign Up&lt;/button>
    &lt;/form>
  &lt;/div>
  &lt;div class="slide-container sign-in">
    &lt;form class="aqua-form" action="#">
      &lt;h1>Sign In&lt;/h1>
      &lt;input type="email" placeholder="Email">
      &lt;input type="password" placeholder="Password">
      &lt;a href="#">Forgot your password?&lt;/a>
      &lt;button>Sign In&lt;/button>
    &lt;/form>
  &lt;/div>
  &lt;div class="form-overlay">
    &lt;div class="overlay">
      &lt;div class="overlay-panel left">
        &lt;h1>Welcome Back!&lt;/h1>
        &lt;p>Login with your account to keep connected with us&lt;/p>
        &lt;button class="ghost white" id="sign-in">Sign In&lt;/button>
      &lt;/div>
      &lt;div class="overlay-panel right">
        &lt;h1>Join Us!&lt;/h1>
        &lt;p>Enter your personal details and start a journey with us&lt;/p>
        &lt;button class="ghost white" id="sign-up">Sign Up&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
&lt;/div>
        </pre>
      </div>
    </main>
  </section>
</body>

</html>
