:root {
	--aqua-border-curve: 0.3em;

	--aqua-primary: #0070bb;
	--aqua-bg-dark: #2d2d2d;
	--aqua-bg-light: #f7f7f7;
	--aqua-cl-dark: #242424;
	--aqua-cl-light: #ccc;

	--aqua-font-code: 'Fira Code', monospace;
	--aqua-font-default-main: 'Rubik', sans-serif;
	--aqua-font-default-alt-1: 'Ubuntu', sans-serif;
	--aqua-font-default-alt-2: 'Cabin', sans-serif;
	--aqua-font-heading-main: 'Karla', sans-serif;
	--aqua-font-mono-main: 'Inconsolata', monospace;
	--aqua-font-mono-alt: 'Space Mono', monospace;
}
